*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-01: #7B62B4;
    --cor-02: #C1C1C1;
    --backgraund: linear-gradient(to bottom, #755CAD, #724DA3, #634276);
}

html{
    background-color: gray;
}

body{
    background-color: white;
    width: 350px;
    height: 652.644px;
    margin: auto;
    text-align: center;
}

h2{
    padding: 10px;
}

input{
    margin-bottom: 10px;
}

hr{
    width: 330px;
    margin: auto;
}

main{
    background-image: var(--backgraund);
    width: 330px;
    height: 450px;
    margin: auto;
}

main h1{
    color: white;
    padding: 30px;
    font-weight: 300;
}

main ul{
    list-style: none;
    color: #400C58;
    text-align: center;
}

main li{
    background: #7B62B4;
    box-shadow: 0px 2.1772942543029785px 2.7216176986694336px 0px rgba(0, 0, 0, 0.25);
    margin: 20px;
    padding: 10px;
    font-size: 19px;
}

a{
    text-decoration: none;
}

nav{
    margin-top: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    margin: auto;
    width: 330px;
}

nav li{
    background-color: var(--cor-02);
    width: 89px;
    height: 25px;
    margin: auto;
    padding: 3px;
}

nav li a{
    color: black;
}

footer{
    text-align: center;
    margin: 10px;
}

footer p{
    padding: 5px;
    justify-content: space-evenly;
}

a.t{
    color: #400C58;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
}

a svg{
    margin-left: 20px;
}