*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-01: #7B62B4;
    --cor-02: #C1C1C1;
    --backgraund: linear-gradient(to bottom, #755CAD, #724DA3, #634276);
}

html{
    background-color: gray;
}

body{
    background-color: white;
    width: 350px;
    height: 652.644px;
    margin: auto;
    text-align: center;
}

main{
    background-image: var(--backgraund);
    width: 332.037px;
    height: 397.9px;
    margin: auto;
}

h1{
    color: white;
}

ul{
    list-style: none;
    color: #400C58;
    text-align: center;
}

a{
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    margin: auto;
    width: 330px;
}

nav li{
    background-color: var(--cor-02);
    width: 89px;
    height: 25px;
    margin: auto;
    padding: 3px;
}

nav li a{
    color: black;
}

footer{
    text-align: center;
    width: 330px;
    height: 652.644px;
}

footer p{
    padding: 5px;
    justify-content: space-evenly;
}

a.t{
    color: #400C58;
    text-align: center;
    font-size: 19.596px;
    font-weight: 400;
    letter-spacing: 1px;
}

.margin-10{
    margin: 10px;
}

.padding-10{
    padding: 10px;
}