*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-01: #7B62B4;
    --cor-02: #C1C1C1;
    --backgraund: linear-gradient(to bottom, #755CAD, #724DA3, #634276);
}

html{
    background-color: gray;
}

body{
    background-color: white;
    width: 350px;
    height: 700px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


